body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:150%;
    text-align: center;
    border-bottom:1px solid #fff;
    /* height:200px; */
    /* padding-bottom: 120px; */
}
img{
    width: 500px;
    height: 300px;
}
#judgment{
    padding-top: 80px;
    text-align: center;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    text-align: center;
}
li:hover{
    background: #0066CC;
    color:#fff;
}